.mat-toolbar{
  margin: -24px;
  margin-bottom: 10px;
  width: auto;

}

mat-form-field{
  padding: 5px;
}

/* This creates the Red Box look */
.red-snackbar {
  background-color: #f44336 !important; /* Material Red */
  color: white !important;
  font-weight: bold;
}

.red-snackbar .mat-simple-snackbar-action {
  color: white !important;
}